<!doctype html>
<html lang="en" ng-app="classBrowser">
  <head>
    <meta charset="utf-8">
    <title>Class Browser</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body ng-controller="classList">

    <div ng-repeat="cl in classes">
      {{ cl.ClassName }} --
      <ul>
        <li>Requires</li>
        <ul>
          <li ng-repeat="c in cl.Properties.Prereqs">
            {{ c }}
          </li>
        </ul>
        <li>Enables</li>
        <ul>
          <li ng-repeat="c in cl.Properties.Enables">
            {{ c }}
          </li>
        </ul>
      </ul>

    </div>

  </body>
</html>
